{% block title %}Set Password{% endblock title %}

{% block content %}
<div class="card bg-light p-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <h3 class="text-dark">Set New Password</h3>

    <form action="{% url 'set-new-password' uidb64=uidb64 token=token %}" method="post">
    {% csrf_token %}
    
    <br>
    <label for="password">Password</label>
    <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    
    <label for="confirm_password">Confirm Password</label>
    <div class="form-group">
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
    </div>
    
    <br><br>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>

<br>

<a href="{% url 'login' %}">Go back?</a>

    
   
</div>
{% endblock content %}
